<header id="header">
    <section>
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png"/>
            </a>
        </div>
        <%- include("../Menu/index.ejs") %>
    </section>
</header>
<script>
    window.addEventListener('scroll', function () {
        const header = document.getElementById('header');
        if (window.scrollY !== 0) {
            header.classList.add('scrolled');
        } else {
            header.classList.remove('scrolled');
        }
    });
</script>