.main-film {
}

.content {
    position: relative;
    z-index: 5;
    margin-top: -10rem;
}

.background {
    position: fixed;
    z-index: 1;
    filter: blur(10px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-video {
    position: relative;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    margin-top: -3.2rem;
}

.back {
    position: sticky;
    z-index: 99;
    font-family: Netflix-Light, serif;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease-in-out;
    top: 10rem;
    margin-left: 5rem;
}

.back:hover {
    color: #e8e8e8;
}

a {
    text-decoration: none;
}

.video {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    clip-path: inset(150px 150px);
    pointer-events: none;
    transform: scale(1.7);
    z-index: 2;
}

.fade {
    background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 0, hsla(0, 0%, 8%, .15) 15%, hsla(0, 0%, 8%, .35) 29%, hsla(0, 0%, 8%, .58) 44%, #141414 68%, #141414);
    height: 15vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.poster {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.details {
    width: 100%;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.details h1 {
    font-size: 3rem;
    max-width: 50%;
}

.details .synopsis {
    max-width: 30%;
    font-family: Netflix-Light, serif;
    /*text-align: justify;*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 1rem;
    border-radius: 10px;
}

.container-details {
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: #181818;
    padding: 2rem;
    font-family: Netflix-Light, serif;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.container-details span {
    font-family: Netflix, serif;
}

@media screen and (max-width: 1400px) {
    .video {
        display: none;
    }
}
.container-details{
}
.container-credits{
    /*border: 1px solid green;*/
    width: 50rem;
    max-width: 50rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #1f1d1d;
    border-radius: 10px;
}
.container-credits h3{
    font-size: 24px;
    font-weight: 500;
    font-family: "Netflix-Light", serif;
}
.block-credits{
    display: flex;
    /*width: 100%;*/
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.container-credit{
    /*border: 1px solid green;*/
    width: 15rem;
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #181818;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.block-img-profile{
    width: 100%;
    overflow: hidden;
}
.container-credit:hover{
    background-color: #232222;
}
.container-credit:hover .img-profile{
    transform: scale(1.2);
}
.img-profile{
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}
.block-name{
    display: flex;
    flex-direction: column;
}
.block-name p{
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
}
.block-name .character{
    font-style: italic;
}
@media screen and (max-width: 900px) {
    .details{
        left: 0;
    }
    .details h1{
        font-size: 2rem;
        max-width: 100%;
        text-align: center;
    }
    .synopsis {
        max-width: 90% !important;
        margin-left: auto;
        margin-right: auto;
    }
    .content{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .container-details{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .container-credits{
        width: 90%;
    }
    .back{
        margin-left: 1rem;
    }
}