<main>
    <div class="block-rooms-and-chat">
        <%- include('../Rooms/content.ejs') %>
        <main class="main-cine-chat">
            <section class="cine-chat">
                <ul id="messages"></ul>
                <form id="form">
                    <input id="input" autocomplete="off" placeholder="Envoyer un message dans #<%= room %>"/>
                    <button><i class="fa-solid fa-paper-plane"></i></button>
                </form>
            </section>
        </main>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const socket = io();
            const messages = document.getElementById('messages');
            const form = document.getElementById('form');
            const input = document.getElementById('input');
            const username = '<%= username %>';
            const room = '<%= room %>';
            socket.emit('join room', room);
            form.addEventListener('submit', function (e) {
                e.preventDefault();
                if (input.value.trim() !== '') {
                    const message = input.value;
                    socket.emit('chat message', {message});
                    input.value = '';
                }
            });
            socket.on('chat message', function (data) {
                const {message, user} = data;
                const item = document.createElement('li');
                item.textContent = message;
                item.className = user === username ? 'user-message' : 'other-message';
                messages.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight);
            });
            socket.on('chat history', function (history) {
                history.forEach(function (data) {
                    const {message, user} = data;
                    const item = document.createElement('li');
                    item.textContent = message;
                    item.className = user === username ? 'user-message' : 'other-message';
                    messages.appendChild(item);
                });
            });
            socket.emit('set username', username);
        });
    </script>
</main>