<nav class="nav-header">
    <p><a href="/">Accueil</a></p>
    <%- locals.username ? '<p><a href="/admin/dashboard">Dashboard</a></p>' : '' %>
    <%- locals.username ? '<p><a href="/cineChat">CinéChat</a></p>' : '' %>
    <p><a href="/films">TOP 10</a></p>
    <p><a href="/contact">Contact</a></p>
    <%- locals.username ? '<p><a href="/logout">Déconnexion</a></p>' : '<p><a href="/login">Se connecter</a></p>' %>
</nav>
